
.calculator{
    text-align: center;
}

.titles{
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #D3D3D3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


#open{
    height: 10%;
    width: 10%;
    cursor:pointer;
    margin-top: 1vh;
    margin-left: 0.5vh;
}

#open{
    height: 10%;
    width: 10%;
    cursor:pointer;
    margin-top: 1vh;
    margin-left: 0.5vh;
}

#close{
    width: 1em;
    height: 1em;
    cursor:pointer;
    margin-top: 1vh;
    margin-left:4%;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}



.visitScroll, .homeScroll{
    margin-left: 5%;
    margin-top: 3%;
    background-color: white;
    overflow: scroll;
    height: 11rem;
    width: 10rem;
}

input[type="button"]:active {
    background-color: #4F2F2F;
    color: #fff;

}
.calculator{
    background-color:  white;
}
.numberDigit{
    margin: 23%;
}
input button{
    padding: 5%;
}
.numberButtons input{
    color: white;
    background-color: darkslategray;
    border-radius: 25px;
    text-align: center;
    line-height: 30%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 24%;
    margin: 3%;
    font-size: min(2.5vh, 20px);
}

.numberButtons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.tipButtons, .roundButtons{
    float: right;

}


.numberButtons, button{
    margin-top: 2vh;
}
.number{
    padding: 4vh;
}
.split{
    color:white;
    border-radius: 25px;
    margin: 6%;
    padding: 3vh;
    background-color: #f28500;
    font-size: min(2.5vh, 20px);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

html,body{
    font-family: Helvetica,sans-serif;
}

.titles{
    font-family: Courier New,sans-serif;
}

.split:focus{
    color:white;
    font-size: min(2.5vh, 20px);
    background-color: #ffb300;
}
.input{
    transition: margin-left 0.3s;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


#mySidenav .visit, .home{
    padding: 1rem;
    font-size: 1.25rem;
}

.splitButtons{
    transition: 0.3s;
    float: right;
    margin-top: 2.5%;
    padding: 1vh;
    background: white;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}




#exHeader{
    text-align: center;
    font-style: italic;
}

.roundRadioButtons{
    display:inline-flex;
    overflow:hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.radioTipButtons{
    display: inline-flex;
    vertical-align: middle;

    margin-left:8.6%;
    margin-right: 8%;
    overflow:hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
}




.roundButtons{
display: none;
}

.tipButtons{
    display: none;
}

.radio_label{
    padding: 8px 14px;
    font-size: 14px;
    font-family:sans-serif;
    color: #ffffff;
    background: #009578;
    cursor: pointer;
    transition: background 0.1s;
}

.radioT_label{
    padding: 8px 14px;
    font-size: 14px;
    font-family:sans-serif;
    color: #ffffff;
    background: #009578;
    cursor: pointer;
    transition: background 0.1s;
}

.radioT_label:not(:last-of-type){
    border-right: 1px solid #006B56;
}
.radio_label:not(:last-of-type){
    border-right: 1px solid #006B56;
}
.roundButtons:checked + .radio_label{
    background: #ff4200;
}

.tipButtons:checked + .radioT_label{
    background: #ff4200;
}


#input{
    font-size: 2em;
    background-color: white;
    margin-bottom: 3%;

}

#result{
    font-size: 2em;
    background-color: white;
    padding-bottom: 9%;
}
#finalStatement{
    font-size: 0.6em;
    font-style: italic;
}
#tips{
    margin-left: 2%;
    vertical-align: middle;
}
